section
{
	width: 120vw;
	
	height: 120vh; 
	
	background-image: url(图片库/2.jpg);
	
	border-radius: 30px;
	
}
div 
{
	width: 60%;
	
	height: 60%;
	
	border-radius: 30px;
	
	background-color: red;
}
p
{
	width: 60% ;
	
	height: 60%;
	
	border-radius: 30px;
	
	background-color: blue;
}